
.header{
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 360px;
  height: 81px;

}

.cv{
  border: 2px solid #0F0A0A;
  border-radius: 90px;
  padding: 16px 30px;
  margin-right: 25px;
background: rgba(66, 226, 184, 1);
box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
}
.cv a{
  font-weight: 700;
font-size: 16px;
font-family: Oxygen;
text-decoration: none;
color: rgba(15, 10, 10, 1);
text-transform: uppercase;
}
.navegacion{
  display: none;
  padding: 20px;
  margin: 1px;
 /*  background-color: blue; */
  
}

.lista{
  display: flex;
  margin: 1px;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  margin: 40px;
}

.lista li a{
  color: black;
  text-decoration: none;
  padding: 40px;
  font-family: Oxygen;
  font-weight: 700;
  font-size: 14px;
  text-transform:uppercase ;
}
.logo{
  font-family: Poppins;
  font-weight: 900;
  font-size: 26px;
  margin-left: 20px;
  margin-right: 20px;
}


